<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <script type="text/template">
    <%% tweets.forEach(function (tweet) { %>
      <li>
        <%%= tweet.content %> -- <%%= tweet.user.username %> -- <%%= tweet.created_at %>
        <ul>
          <%% tweet.mentions.forEach(function (mention) { %>
            <li><%%= mention.user.username %></li>
          <%% }); %>
        </ul>
      </li>
    <%% }); %>
  </script>

  <ul class="tweets" id="feed"></ul>

  <a href="javascript:void(0)" class="fetch-more">Fetch more tweets!</a>
</div>

<%= render "tweets/form", tweets_ul: "#feed" %>
