<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <script type="text/template">
    <%% tweets.forEach(function (tweet) { %>
      <li><%%= tweet.content %> -- <%%= tweet.user.username %> -- <%%= tweet.created_at %></li>
    <%% }); %>
  </script>

  <ul id="feed"></ul>

  <a href="#" class="fetch-more">Fetch more tweets!</a>
</div>

<%= render "tweets/form", tweets_ul: "#feed" %>
