<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <a href="javascript:void(0)" class="fetch-more">Fetch More</a>
  <ul id="feed">
    <!-- <%# @feed_tweets.each do |tweet| %>
      <li><%#= render "tweets/tweet", tweet: tweet %></li>
    <%# end %> -->
  </ul>
</div>

<%= render "tweets/form" %>

<script type="text/template" id="underscore-tweet">

  <%% tweets.forEach(function (tweet) { %>
    <li>
    <%%= tweet.content %>
    -- <a href="<%%= '/users/' + tweet.user.id %>"> <%%= tweet.user.username %> </a>
    -- <%%= tweet.created_at %>

    <%% if (tweet.mentions.length > 0) { %>
      <ul>
        <%% tweet.mentions.forEach(function (mention) { %>
          <li><a href="<%%= '/users/' + mention.user.id %>" %><%%= mention.user.username %></a></li>
        <%% }); %>
      </ul>
    <%% } %>
    </li>
  <%% }); %>
</script>


<script charset="utf-8">

  $.InfiniteTweets = function (el) {
    this.$el = $(el);
    this.maxCreatedAt = null;
    this.$el.find('a.fetch-more').on("click", this.fetchTweets.bind(this))
    this.$el.find('ul#feed').on("insert-tweet", this.insertTweet.bind(this))
  }

  $.InfiniteTweets.prototype.fetchTweets = function (event) {
    event.preventDefault();
    var sendData = (this.maxCreatedAt ? { max_created_at: this.maxCreatedAt } : {});

    $.ajax({
      url: '/feed',
      type: 'GET',
      dataType: 'json',
      data: sendData,
      success: this.insertTweets.bind(this)
    });
  };

  $.InfiniteTweets.prototype.insertTweets = function (data) {
    var template = $('#underscore-tweet').html();
    var templateFn = _.template(template);
    var renderedContent = templateFn({tweets: data});

    this.$el.find('ul#feed').append(renderedContent);
    this.maxCreatedAt = $(data).last()[0].created_at;
    if (data.length < 20) {
      this.$el.find('a.fetch-more').remove();
    }
  };

  $.InfiniteTweets.prototype.insertTweet = function (event, resp) {
    var template = $('#underscore-tweet').html();
    var templateFn = _.template(template);
    var renderedContent = templateFn({tweets: [resp]});
    this.$el.find('ul#feed').prepend(renderedContent);
    this.maxCreatedAt = resp.created_at;
  };

  $.fn.infiniteTweets = function (options) {
    return this.each(function () {
      new $.InfiniteTweets(this, options)
    }.bind(this));
  };

  $(function () {
    $('div.infinite-tweets').infiniteTweets();
  });

</script>
