<h2>New Tweet!</h2>
<form class="tweet-compose" data-tweets-ul="<%= tweets_ul %>">
  <textarea name="tweet[content]"></textarea><br>
  <b class="char-left"></b>

  <input type="Submit" value="Post Tweet!">
</form>
